div#content {
        width: 90%;
        max-width: 80em;
        margin: 1em auto;
        padding: 1em 2em;
        border-radius: 6px;
        box-shadow: 0px 0px 7px 2px #472300;
        background-color: #603000;
        color: white;
}

div#banner {
        margin: 0;
        padding: 0;
        border: 0;
}

img#banner {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        display: block;
}

div#nav {
        color: white;
        width: 100%;
}

ul#nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #BC3927;
        border-top: 1px solid #9A2010;
        /*border-bottom: 1px solid #9A2010;*/
        font-family: sans-serif;
        overflow: hidden;
}

ul#nav a {
        text-decoration: none;
        display: block;
        color: white;
        padding: .2em 1em;
        font-size: 1.5em;
}

ul#nav a:hover {
        background-color: #9A2010;
}

ul#nav li {
        float: left;
        border-right: 2px solid #A03021;
        background-color: #BC3927;
        height: 100%;
}

ul#nav li:last-child {
        border-right: none;
        border-left: 2px solid #A03021;
        float: right;
}

ul#nav li#active {
        background-color: #703800;
}

body {
        background-color: #703800;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        color: #bebebe;
}

a {
        color: #FBBC7E;
}

input, textarea {
        margin: 1em 0;
        width: 100%;
}

img.vertical_center {
        vertical-align: middle;
}

@media screen and (max-width: 550px) {
        ul#nav li {
                float: none;
                border: none;
                border-top: 2px solid #A03021;
        }
        ul#nav li:last-child {
                float:none;
                border-bottom: 2px solid #A03021;
        }
}
